<form [formGroup]="inputsForm">
  <div class="form-floating mb-2 p-2">
      <input type="email" class="form-control p-2" id="input_email" placeholder="name@example.com" 
      formControlName="email">
      <label for="input_email">Email</label>
  </div>
  <div class="form-floating mb-3 p-2">
    <input type="password" class="form-control p-2" id="input_password" placeholder="Password" 
    formControlName="password">
    <label for="input_password">Password</label>
  </div>
  <button-send-data-component (click)="submit()" [disabled]="!inputsForm.valid" [btnText]="'Sing In'"></button-send-data-component>
</form>
