<nav class="navbar navbar-expand-md p-1">
    <div class="container-fluid ">
        <a class="navbar-brand" href="#">
            <img 
                ngSrc="/assets/logoAugefarma2.png" 
                alt="Logo Augefarma" 
                width="55" 
                height="60" 
                style="height: auto;" 
                priority
            >
        </a>
    
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon custom-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <!-- Itens de navegação -->
            <ul class="navbar-nav d-flex flex-column flex-md-row text-center m-0 p-1">
                <li class="nav-item">
                  <a class="nav-link active custom-link me-3 p-3" aria-current="page" href="#mapping">Mapping</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link me-3 p-3" href="#register">Register</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link custom-link me-3 p-3" href="#checking">Checking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link me-3 p-3" href="#logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
