* {
    font-weight: 400;
}

.navbar {
    background-color: #041434;
}

/* Define as cores e o estilo padrão para os links */
.custom-link {
    color: white;
    transition: background-color 0.3s;
}

/* Define o estilo do link ativo */
.custom-link.active {
    color: white !important; /* Cor do texto ativo */
    background-color: #eb1c24; /* Cor de fundo ativo */
    border-radius: 15px; /* Arredonda os cantos */
}

/* Define o estilo do link quando o mouse passa por cima */
.custom-link:hover {
    color: white !important; /* Cor do texto ativo */
    background-color: #eb1c23f5; /* Cor de fundo ativo */
    border-radius: 15px; /* Arredonda os cantos */
}

/* Estilizar o botão toggle */
.custom-toggler {
    border-color: #321631 !important;
    background-color: #eb1c24;
    padding: 5px;
    border-radius: 8px;
}

/* Alterar a cor do ícone ao passar o mouse */
.custom-toggler:hover {
    background-color: #bd1a27;
}

.dropdown-menu {
    background-color: #f4f4f4;
}

/* Estilizar itens do dropdown */
.dropdown-item {
    color: #eb1c24; /* Cor do texto */
    transition: background-color 0.3s; /* Transição suave para cor de fundo */
}

/* Estilizar o item ativo do dropdown */
.dropdown-item.active,
.dropdown-item:hover {
    background-color: #eb1c24; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto */
}

/* Estilizar o dropdown-toggle */
.dropdown-toggle::after {
    display: none; /* Remove o ícone padrão do dropdown */
}