.container-fluid {
    min-height: 100vh
}

.background {
    background-color: #f4f4f4
}

.custom-alert {
    background-color: #464E66;
    color: white      
}

.custom-table-dark {
    --bs-table-color: #f8f9fa;
    --bs-table-bg: #041434;
    --bs-table-border-color: #bd1a28d7;
    --bs-table-striped-bg: #36435d;
    --bs-table-striped-color: #f8f9fa;
    --bs-table-active-bg: #1d2a43;
    --bs-table-active-color: #f8f9fa;
    --bs-table-hover-bg: #363f52;
    --bs-table-hover-color: #f8f9fa
}

@media (min-width: 768px) {
    .title {
      margin-left: 95px
    }
}
