<div *ngIf="!isEventSegmentParty()" class="container-fluid d-flex justify-content-center align-items-center background flex-column flex-grow-1">
  <h1 class="text-center p-2 title display-6">Fazer Checagem</h1>
  <scanner-qrcode-component (cpf)="sendCpfToBackend($event)"></scanner-qrcode-component>
  <form-checking-component (manualCpf)="sendCpfToBackend($event)"></form-checking-component>
</div>

<div *ngIf="isEventSegmentParty()" class="container-fluid d-flex justify-content-center align-items-center background flex-column flex-grow-1">
  <h1 class="text-center p-2 title display-6"> Fazer Checagem</h1>
  <form-checking-component (manualCpf)="sendCpfToBackend($event)"></form-checking-component>
  <accordion-wristbands-component *ngIf="wristbandsReponse" [WristbandsResult]="wristbandsReponse"></accordion-wristbands-component>
</div>