<footer class="bg-dark text-white">
  <div class="container d-flex flex-column justify-content-center text-center p-sm-2 p-md-4">
    <!-- Primeira linha: Logo e ícones sociais -->
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6 my-3">
        <!-- Logo da Augefarma -->
        <img ngSrc="/assets/logoAugefarma.png" alt="Logo Augefarma" width="290" height="75" priority>
      </div>
      <div class="col-md-6 footer-social my-3 m-md-3">
        <!-- Ícones sociais -->
        <a class="m-2 p-2" href="https://www.linkedin.com/company/augefarma-central-de-compras-online/" target="_blank" class="text-white mx-2">
          <span class="mdi mdi-linkedin mdi-24px m-2 p-2"></span> <!-- Ícone do LinkedIn -->
        </a>
        <a class="m-2 p-2" href="https://api.whatsapp.com/send?phone=8532066216" target="_blank" class="text-white mx-2">
          <span class="mdi mdi-whatsapp mdi-24px m-2 p-2"></span> <!-- Ícone do WhatsApp -->
        </a>
        <a class="m-2 p-2" href="https://www.instagram.com/augefarma/" target="_blank" class="text-white mx-2">
          <span class="mdi mdi-instagram mdi-24px m-2 p-2"></span> <!-- Ícone do Instagram -->
        </a>
      </div>
    </div>
    <!-- Segunda linha: Direitos autorais -->
    <div class="row align-items-center border-top">
      <div class="col-sm-12 my-3 m-md-3 m-lg-1">
        <p class="m-2 p-2">&copy; 2024 Augefarma. Todos os direitos reservados.</p> <!-- Direitos autorais -->
        <p>Desenvolvido por Kauan Pereira e Augefarma.</p> <!-- Desenvolvedor -->
      </div>
    </div>
  </div>
</footer>
