<footer class="bg-dark text-white">
  <div class="container text-center py-2">
    <!-- Primeira linha: Logo e ícones sociais -->
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4">
        <!-- Logo da Augefarma -->
        <img ngSrc="/assets/logoAugefarma.png" alt="Logo Augefarma" width="285" height="75" priority>
      </div>
      <div class="col-lg-4 footer-social mt-2 mt-lg-0">
        <!-- Ícones sociais -->
        <a class="m-1 p-1" href="https://www.linkedin.com/company/augefarma-central-de-compras-online/" target="_blank" class="text-white mx-3">
          <span class="mdi mdi-linkedin mdi-24px m-1 p-1"></span> <!-- Ícone do LinkedIn -->
        </a>
        <a class="m-1 p-1" href="https://api.whatsapp.com/send?phone=8532066216" target="_blank" class="text-white mx-3">
          <span class="mdi mdi-whatsapp mdi-24px m-1 p-1"></span> <!-- Ícone do WhatsApp -->
        </a>
        <a class="m-1 p-1" href="https://www.instagram.com/augefarma/" target="_blank" class="text-white mx-3">
          <span class="mdi mdi-instagram mdi-24px m-1 p-1"></span> <!-- Ícone do Instagram -->
        </a>
      </div>
    </div>
    <!-- Segunda linha: Direitos autorais -->
    <div class="row align-items-center border-top mt-3">
      <div class="col-sm-12">
        <p class="m-1 p-1">&copy; 2024 Augefarma. Todos os direitos reservados.</p> <!-- Direitos autorais -->
        <p>Desenvolvido por Kauan Pereira e Augefarma.</p> <!-- Desenvolvedor -->
      </div>
    </div>
  </div>
</footer>
