<div class="container-fluid d-flex justify-content-center align-items-center background flex-grow-1">
    <div class="col-sm-12 col-md-10 d-flex justify-content-center align-items-center p-2 m-1 my-5">
        <div class="card col-sm-12 col-md-10 mb-5 rounded-3">
            <div class="card-body mt-3 p-4">
                <h1 class="card-title p-2 display-6 text-left mb-4">Register Pharmacy Representative</h1>
                <form-pharmacy-representative-component></form-pharmacy-representative-component>
            </div>
        </div>
    </div>
</div>
